/dist
/node_modules
/build
/tmp

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.env
.env.development
.env.test
.env.production

.temp
.tmp

.DS_Store

.vscode